# Diplomatura en ciencia de datos, aprendizaje automático y sus aplicaciones - Edición 2023 - FAMAF (UNC)

## Mentoría 16 - ¿Cómo identificar fuga de ventas? Inteligencia artificial aplicada al sector comercial.

### Explorando Patrones de Datos a través de Clustering (TP3)

#### Parte 4: Evaluación de resultados.

**Integrantes:**
- Canalis, Patricio.
- Chevallier-Boutell, Ignacio José.
- Villarroel Torrez, Daniel.

**Mentores:**
- Gonzalez, Lucía
- Lahoz, Nahuel

---
## Librerías y dataset

In [1]:
import pandas as pd
import seaborn as sns

# Preferencias
pd.set_option('display.max_columns', 150)
pd.set_option('display.max_rows',150)
sns.set_context('talk')
sns.set_theme(style='white')

Los datasets que necesitamos son:

In [2]:
outliers = pd.read_csv('../data/interim/tp3_outliers_dbscan.csv')

In [3]:
outliers

       ID      Subrubro  Modelo
0     141   Com. Varios       0
1     233   Com. Varios       0
2     324   Com. Varios       0
3     373   Com. Varios       0
4     735   Com. Varios       0
..    ...           ...     ...
221  2147  Venta Agrop.       0
222  2605  Venta Agrop.       0
223  2661  Venta Agrop.       0
224  2716  Venta Agrop.       0
225  2782  Venta Agrop.       0

[226 rows x 3 columns]

---
# Ubicación y proporción

Ver en qué subrubros hay, si son todos no modelo. Cuantos son respecto al total. Cosas así